/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    background: #ffff;

}
nav{
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 100vw;
    font-family: sans-serif;
    font-size: 16px;
}
section{
    display: flex;
}

.sec1{
    width: 10%;
    justify-content: space-around;
}
.sec2{
    width: 50%;
    justify-content: space-around;
}
.sec4{
    width: 15%;
    justify-content: space-around;
}

.div1{
    width: 500px;
    height: 150px;
    padding: 20px 0 15px 0;
    display: block;

}
div>sup{
    font-size: 10px;
    color: red;
}
main>div>img{
    border: 1px solid;
    border-radius: 1px;
}

/* .sec4{

} */
*/ * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* display: block; */
}

body {
  height: 100vh;
  width: 100vw;
  /* display: block; */
  /* position:relative;
     
    */
  /* background-repeat: no-repeat;
   background-size: cover;
   background-position: center; */
}

nav {
  width: 100vw;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0px;
  margin: 0;
  padding: 0;
  /* border: 2px solid; */
  box-shadow: 2px 2px 10px grey;
}

b {
  font-size: 15px;
}

span {
  font-size: 15px;
}

sup {
  color: red;
}

#search {
  width: 25vw;
  height: 20px;
}

#img1 {
  width: 50px;
  height: 50px;
}

#img2 {
  width: 100vw;
  height: 120px;
}

section {
  width: 100vw;
  display: flex;
}
img {
  /* padding-left: 0px; */
}

#img3 {
  width: 590px;
  height: 65vh;
}

#img4 {
  width: 100vw;
  height: 15vh;
}

#img5 {
  width: 50vw;
  height: 150px;
}
#img6 {
  width: 100vw;
  height: 25vh;
}

#img7 {
  width: 20vw;
  height: 32vh;
  border: 0px solid;
}

#section1 {
  width: 100vw;
  height: 250px;
  display: flex;
  overflow: auto;
}

#section1::-webkit-scrollbar {
  display: none;
}

#img8 {
  width: 100vw;
  height: 25vh;
}

#img9 {
  width: 300px;
  height: 40vh;
  /* border: 1px solid; */
}

#section2 {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
}

#img10 {
  width: 100vw;
  height: 40vh;
}

#section4 {
  display: flex;
}
.div9 {
  display: flex;
}
